root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 4

[docker-compose.yml]
indent_size = 4

[{*.ctp,*.hphp,*.inc,*.module,*.php,*.php4,*.php5,*.phtml}]
insert_final_newline = true # добавлять пустую строку в конец файла
trim_trailing_whitespace = false # убирать пробельные символы в конце строк
ij_php_keep_indents_on_empty_lines = true # сохранять отступ в пустых строках
ij_php_if_brace_force = always # после if всегда будут фигурные скобки
ij_continuation_indent_size = 4

[*.css]
ij_css_keep_indents_on_empty_lines = true # сохранять отступ в пустых строках